.folhas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #e9e9e9;
  padding: 0 2rem;
}

.folha {
  display: flex;
  flex-direction: column;
  max-width: 210mm;
  min-height: 297mm;
  width: 100%;
  margin: 0 2rem 0 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: var(--lighter);
}

.folha:first-of-type {
  margin-top: 2rem;
}

.folha:last-of-type {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .folha {
    margin: 2rem auto;
  }
}

.folha__titulo {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--color-main);
  text-decoration: underline;
  margin: 2rem 0 1rem 0;
  text-underline-offset: .5rem;
}

.folha__subtitulo {
  color: var(--color-main);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.folha__txt {
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 2rem;
}

@media screen and (min-width: 500px) {
.folha__txt {
  font-size: 1.8rem;
}
}

.folha__txt+.folha__txt {
  margin-top: 1rem;
}

.folha__picture {
  margin: 2rem 0;
}

.folha__picture--alt {
  padding-left: 2rem;
  margin-top: 2rem;
  width: 50%;
  float: right;
  margin-top: 0;
  margin-bottom: 1rem;
}

.folha__image {
  width: 100%;
}

.folha__caption {
  font-size: 1.25rem;
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.folha__flutuantes {
  display: initial;
}

@media screen and (max-width: 500px) {
  .folha__flutuantes {
    display: flex;
    flex-direction: column;
  }

  .folha__picture--alt {
    width: 100%;
    float: none;
    padding-left: 0;
    margin: 2rem 0;
  }
}